In [1]:
# loading the libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

### 1 loading the dataset

In [2]:
data = pd.read_csv("messy data.csv")
data.head()

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.0,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.0,Marketing

In [3]:
# checking the shapes of the data

data.shape

(11000, 8)

In [4]:
# summary of dataset

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11000 non-null  int64
 1   ID          11000 non-null  object
 2   Name        8667 non-null   object
 3   Age         9253 non-null   float64
 4   Email       9731 non-null   object
 5   Join Date   8808 non-null   object
 6   Salary      8761 non-null   float64
 7   Department  8745 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 687.6+ KB

In [5]:
# Checking the null values

data.isnull().sum()

Unnamed: 0       0
ID               0
Name          2333
Age           1747
Email         1269
Join Date     2192
Salary        2239
Department    2255
dtype: int64

In [6]:
column_to_drop = 'Unnamed: 0'

# Check if the column exists before dropping it
if column_to_drop in data.columns:
    data = data.drop(column_to_drop, axis=1)
else:
    print(f"Column '{column_to_drop}' not found in DataFrame")

print("DataFrame after attempting to drop column:")
print(data)

DataFrame after attempting to drop column:
                                         ID                     Name   Age  \
0      1e407ff9-6255-489d-a0de-34135d4f74bd            Hunter Thomas  25.0
1      379f55b8-87d5-4739-a146-7400b78c24d1             Jeremy Irwin  90.0
2      18261368-dfa1-47f0-afc6-bddf45926b07  Jennifer Hammondquickly  66.0
3      ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5          Sydney Taylorso  39.0
4      14ed3e6a-e0f5-4bbe-8d93-8665267f5c90                Julia Lee  71.0
...                                     ...                      ...   ...
10995  07c223be-03e6-4f70-a2b5-86df778cc61a                      NaN   NaN
10996  da8a6bbc-5026-4630-848d-f64e80dac56c         Steven Armstrong  38.0
10997  ed19c966-d6d8-4047-b410-b6e595a39340       Stephanie Riossell   NaN
10998  783b36b4-d09f-46c9-8a52-7ff96b80863e           Bonnie Benitez  37.0
10999  fc25a38a-5747-46eb-b6d3-7173f8255809           Caroline Ochoa  53.0

                           Email   Join Date         Salary   Department
0             xlopez@hotmail.com         NaN   88552.000000        Sales
1                Jillian Jenkins  2022-07-07  139227.000000          NaN
2                jscottgreen.biz  2023-11-21   65550.000000  Engineering
3             luke56gonzalez.com  2021-11-05  139932.000000     SupportJ
4        figueroakayla@yahoo.com         NaN  143456.000000    Marketing
...                          ...         ...            ...          ...
10995                        NaN         NaN            NaN          NaN
10996           molly89gmail.com  2021-06-24            NaN        Sales
10997  robert96@pollard-frye.com  15/08/2006  122609.594149           HR
10998         roypark@warren.net  2020-10-09  147322.005171      Support
10999          cdavis@hodges.com  2023-08-10  149224.000000      Support

[11000 rows x 7 columns]

In [7]:
columns_to_check = ['Name', 'Age', 'Email', 'Join Date', 'Salary', 'Department']
data_cleaned = data.dropna(subset=columns_to_check)
data_cleaned.head()

,ID,Name,Age,Email,Join Date,Salary,Department
2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.000000,Engineering
3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.000000,SupportJ
5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.0,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia Brown DVM,66.0,pperkinshotmail.com,17/09/2020,77311.000000,HR
9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.0,denisemaynard@jordan.com,2022-12-08,37701.725993,HR

In [8]:
data_cleaned.shape

(6036, 7)

In [9]:
data_cleaned.isnull().sum()

ID            0
Name          0
Age           0
Email         0
Join Date     0
Salary        0
Department    0
dtype: int64

In [10]:
# Remove Duplicates
data_cleaned.drop_duplicates(inplace=True)

In [11]:


# Function to validate email formats
def is_valid_email(email):
    regex = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(regex, email) is not None

# Function to check for professional emails
def is_professional_email(email):
    free_providers = ['gmail.com', 'yahoo.com', 'hotmail.com', 'outlook.com', 'aol.com']
    domain = email.split('@')[-1]
    return domain not in free_providers


# Apply the validation and filtering
data_cleaned['valid_email'] = data_cleaned['Email'].apply(is_valid_email)
data_cleaned['professional_email'] = data_cleaned['Email'].apply(is_professional_email)

# Filter out invalid and non-professional emails
cleaned_df = data_cleaned[data_cleaned['valid_email'] & data_cleaned['professional_email']].drop(columns=['valid_email', 'professional_email'])

NameError: name 're' is not defined

In [ ]:
# Function to clean names
def clean_name(name):
    return ' '.join(re.findall(r'[A-Za-z]+', name))

# Clean names
cleaned_df['Name'] = cleaned_df['Name'].apply(clean_name)

In [ ]:
cleaned_df.head()
cleaned_df.info()
cleaned_df.shape

In [ ]:
# Standardize date format
cleaned_df['Join Date'] = pd.to_datetime(cleaned_df['Join Date'], errors='coerce').dt.strftime('%Y-%m-%d')
cleaned_df['Join Date'].head()

In [ ]:
# Standardize department names
departments = {
    'HR': 'HR',
    'Human Resources': 'HR',
    'Engineering': 'Engineering',
    'Eng': 'Engineering',
    'Marketing': 'Marketing',
    'Mktg': 'Marketing',
    'Sales': 'Sales',
    'Support': 'Support'
}

cleaned_df['Department'] = cleaned_df['Department'].map(departments).fillna(cleaned_df['Department'])

In [ ]:
# Handle salary noise
cleaned_df['Salary'] = pd.to_numeric(cleaned_df['Salary'], errors='coerce')
salary_mean = cleaned_df['Salary'].mean()
salary_std = cleaned_df['Salary'].std()

# Remove salaries that are outliers
cleaned_df = cleaned_df[(cleaned_df['Salary'] > (salary_mean - 3*salary_std)) & (cleaned_df['Salary'] < (salary_mean + 3*salary_std))]

In [ ]:
cleaned_df.head()

In [ ]:
# Save the cleaned data to an Excel file
cleaned_df.to_excel('cleaned_data.xlsx', index=False)

In [ ]:
import re


def is_valid_email(Email):
    regex = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(regex, Email) is not None

# Function to check for professional emails
def is_professional_email(Email):
    free_providers = ['gmail.com', 'yahoo.com', 'hotmail.com', 'outlook.com', 'aol.com']
    domain = Email.split('@')[-1]
    return domain not in free_providers

# Apply the validation and filtering
data_cleaned['valid_Email'] = data_cleaned['Email'].apply(is_valid_email)
data_cleaned['professional_Email'] = data_cleaned['Email'].apply(is_professional_email)

# Filter out invalid and non-professional emails
cleaned_df = data_cleaned[data_cleaned['valid_email'] & data_cleaned['professional_email']].drop(columns=['valid_email', 'professional_email'])

# Save the cleaned data to an Excel file
cleaned_df.to_excel('cleaned_data.xlsx', index=False)